<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.sgmw.baojunplus</string>
			<string>com.sgmw.baojun</string>
			<string>com.baojun.plus</string>
		</array>
		<key>Executables</key>
		<array>
			<string>Runner</string>
			<string>baojun</string>
			<string>baojun-plus</string>
			<string>baojunplus</string>
		</array>
	</dict>
</dict>
</plist>
